body {
	background: #ffffff;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

input {
	padding: 5px;
	font-size: 16px;
}

input:not(:first-of-type) {
	margin-left: 20px;
}

video {
	margin: 30px;
	width: 500px;
	max-width: 85%;
}
