/* GLOBAL*/

hmtl, body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background: #000;
    opacity: .9;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* HEADER */

#header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid #fff;
    position: fixed;
    z-index: 1;
    background-color: #000;
}

header img {
    padding: 0;
    margin-left: 10px;
    height: 50px;
}

/* NAV */

header nav ul li {
    display: inline-flex;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    color: rgba(255,255,255,0.7);
}

header nav ul {
    margin-right: 10px;
}

/* HOVER EFFECT NAV */

.hover-nav {
    text-decoration: none;
    color: #fff;
}

.hover-nav:after {
    display:block;
    content: '';
    border-top: solid 5px #fff;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
    transform-origin:50% 50%;
}
.hover-nav:hover:after {
    transform: scaleX(1);
    transform-origin:0% 100%;
    border-color: bisque;
}

header nav ul li a:hover {
    color: bisque;
}

#menu {
    display: none;
    position: absolute;
}


@media only screen and (max-width: 642px) {
    #menu {
        display: inline;
        position: relative;
    }

    .options {
        display: none;
        position: relative;
    }
}
/* CENTER HEADER */

.center {
    height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 1200px;
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.center-text {
    width: 100%;
    background: #000;
    align-items: center;

}

/* TEA PICTURES PART */

.tea-month {
    max-width: 1000px;
    margin: 0 auto;
}

.tea-month header {
    padding: 0;
    font-family: cobblestone, serif;
}

.products {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    height: 300px;
    padding: 15px;

}

.product img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #fff;
    margin: 0;
}

.product p {
    font-size: 1.3rem;
    font-weight: 700;
    font-style: italic;
}

/* INFORMATION/LOCATION PART */

.information {
    min-height: 500px;
    opacity: 1;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background: url(pictures/location-background.jpg) no-repeat center;
    border-radius: 10px;
}

.locations {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.location {
    padding: 10px;
    border: 1px solid white;
    background: #000;
    opacity: 1;
    color: #fff;
    flex-basis: 300px;
    margin: 0 20px;
}

.location h2 {
    font-weight: 800;
}

.contact {
    height: 200px;
}

.contact h2 a{
    font-weight: 700;
    font-family: cobblestone, serif;
    padding: 0 20px;
    display: inline-block;
    font-size: 3rem;
    margin: 0;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    transition: ease-in-out .3s;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}

.contact h2 a:hover {
    border-color: beige;
    padding: 0 3px;
    color: bisque;
    border-color: bisque;

}

.contact h5 a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.contact h5 a:hover {
    text-decoration: underline;
}

footer {
    position: relative;
    opacity: 1;
    background: #ccc;
    bottom: 0;
    text-align: left;
    min-height: 40px;
}

footer h4 {
    font-style: italic;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.5px;
}
