img {
  height: 150px;
}

.description {
  font-size: 20px;
}

#cook-time {
  font-weight: bold;
}

.ingredients li {
  list-style: square;
}

.time {
  color: gray;
}

p.citation a.external-link {
  color: SeaGreen;
}

h1, h2, p, li {
  font-family: Helvetica;
}
